<% include('partials/page-start.ejs') %>

<div>
    <form method="POST">
        <label for="artist-name">Enter Artist Name:</label>
        <input type="text" id="artist-name" name="artist-name">
        <label for="artist-name">Enter Album Name:</label>
        <input type="text" id="artist-name" name="artist-name">
        <label for="artist-name">Enter Track Name:</label>
        <input type="text" id="artist-name" name="artist-name">
        <input type="submit" value="CREATE">
    </form>
</div>

<% include('partials/page-end.ejs') %>