<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body>
    <form action="/users" method="post">
        <div>
            <input type="name" id="name" name="name" placeholder="Name">
        </div>
        <div>
            <input type="email" id="email" name="email" placeholder="Email">
        </div>
        <div>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</body>

</html>